<section class="hero is-primary is-fullheight is-bold" id="login">
    <div class="hero-head">
        <h1 class="title">IdeaHub</h1>
        <h2 class="subtitle">
            A social media platform that enables innovators to create easier.
        </h2>
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="field">
                <p class="control has-icons-left">
                    <input
                            class="input"
                            type="email"
                            placeholder="Email"
                            pattern=".+@eagleproductivity.com"
                            v-model="user.email"
                            required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input
                            class="input"
                            type="password"
                            placeholder="Password"
                            minlength="8"
                            v-model="user.password"
                            required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="container">
                <a href="#"
                   class="button is-warning"
                   v-on:click.prevent="login(user)">
                    LOGIN
                </a>
                <a href="#"
                   class="button is-info"
                   @click="showModal = true">
                    REGISTER
                </a>
            </div>
        </div>
    </div>
    <div class="hero-foot has-text-centered">
        <span>
            - Created by Roberto Rivera -
        </span>
    </div>
    <div class="modal" v-bind:class="{'is-active':showModal}" id="registration">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Register as a new user</p>
                <button class="delete" type="button" aria-label="close" v-on:click="showModal=false"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <register-form></register-form>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button" type="button" @click="showModal=false">close</button>
            </footer>
        </div>
    </div>
</section>
