<section>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="#" class="navbar-item">
                <span>IdeaHub</span>
            </a>
            <a href="#" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="#" class="navbar-item">
                    Home
                </a>
                <a href="#" class="navbar-item">
                    {{user}}
                </a>

            </div>
        </div>
    </nav>
</section>
