<section class="section" id="profile">
    <div class="columns has-background-grey-light is-1">
        <div class="column is-one-fifth">
            <div class="columns  is-multiline">
                <div class="column">
                    <figure class="image is-128X128">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="default" class="is-rounded">
                    </figure>
                </div>
                <div class="column is-full">
                    <div class="file is-centered">
                        <label for="upload" class="file-label">
                            <input type="file" class="file-input is-primary" name="upload">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Choose a file...
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-v-centered">
            <div class="container ">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label for="fname" class="label">First Name</label>
                            <div class="control">
                                <input type="text" id="fname" class="input is-primary" placeholder="Enter name here...">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label for="lname" class="label">Last Name</label>
                            <div class="control">
                                <input type="text" id="lname" class="input is-primary" placeholder="Enter name here...">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label for="Username" class="label">Current username:</label>
                    <div class="control has-icons-left has-icons-right">
                        <input type="text" class="input is-primary" id="Username" placeholder="Username"
                               v-model="user.name">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                </div>


                <div class="field">
                    <label for="bio" class="label">Bio</label>
                    <div class="control">
                        <textarea name="bio" id="bio" cols="30" rows="10" class="textarea is-primary"
                                  placeholder="Place Bio Here..."></textarea>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary">SUBMIT</button>
                    </div>
                    <div class="control">
                        <button class="button is-warning">CANCEL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
