<section class="container" id="profile">
    <div class="columns is-1">
        <div class="column is-one-fifth">
            <div class="container">
                <div class="has-background-grey-light">
                    <figure class="image is-128X128">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="default" class="is-rounded">
                    </figure>
                </div>
            </div>
        </div>
        <div class="column has-background-grey-light is-v-centered">
            <div class="container ">
                <div class="field">
                    <label for="name" class="label">Name</label>
                    <div class="control">
                        <input type="text" id="name" class="input" placeholder="Enter name here...">
                    </div>
                </div>
                <div class="field">
                    <label for="Username" class="label">Username</label>
                    <div class="control has-icons-left has-icons-right">
                        <input type="text" class="input is-success" id="Username" placeholder="Username">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label for="bio" class="label">Bio</label>
                    <div class="control">
                        <textarea name="bio" id="bio" cols="30" rows="10" class="textarea"
                                  placeholder="Place Bio Here..."></textarea>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary">SUBMIT</button>
                    </div>
                    <div class="control">
                        <button class="button is-warning">CANCEL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
